ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}
ion-content {
  --background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1501%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1502)'%3e%3c/rect%3e%3cpath d='M54.7 196.13L119.65 233.63L119.65 308.63L54.7 346.13L-10.25 308.63L-10.25 233.63zM119.65 308.63L184.61 346.13L184.61 421.13L119.65 458.63L54.7 421.13L54.7 346.13zM54.7 421.13L119.65 458.63L119.65 533.63L54.7 571.13L-10.25 533.63L-10.25 458.63zM249.56 308.63L314.51 346.13L314.51 421.13L249.56 458.63L184.61 421.13L184.61 346.13zM379.47 83.63L444.42 121.13L444.42 196.13L379.47 233.63L314.51 196.13L314.51 121.13zM314.51 421.13L379.47 458.63L379.47 533.63L314.51 571.13L249.56 533.63L249.56 458.63zM509.38 83.63L574.33 121.13L574.33 196.13L509.38 233.63L444.42 196.13L444.42 121.13zM444.42 196.13L509.38 233.63L509.38 308.63L444.42 346.13L379.47 308.63L379.47 233.63zM639.28 308.63L704.24 346.13L704.24 421.13L639.28 458.63L574.33 421.13L574.33 346.13zM704.24 -28.87L769.19 8.63L769.19 83.63L704.24 121.13L639.28 83.63L639.28 8.63zM1029.01 308.63L1093.96 346.13L1093.96 421.13L1029.01 458.63L964.05 421.13L964.05 346.13zM964.05 421.13L1029.01 458.63L1029.01 533.63L964.05 571.13L899.1 533.63L899.1 458.63zM1418.73 83.63L1483.68 121.13L1483.68 196.13L1418.73 233.63L1353.78 196.13L1353.78 121.13zM1353.78 196.13L1418.73 233.63L1418.73 308.63L1353.78 346.13L1288.82 308.63L1288.82 233.63zM1483.68 421.13L1548.64 458.63L1548.64 533.63L1483.68 571.13L1418.73 533.63L1418.73 458.63z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M47.2 196.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM112.15 233.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM112.15 308.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM47.2 346.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-17.75 308.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-17.75 233.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM177.11 346.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM177.11 421.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM112.15 458.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM47.2 421.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM112.15 533.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM47.2 571.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-17.75 533.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-17.75 458.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM242.06 308.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM307.01 346.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM307.01 421.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM242.06 458.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM371.97 83.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM436.92 121.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM436.92 196.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM371.97 233.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM307.01 196.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM307.01 121.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM371.97 458.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM371.97 533.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM307.01 571.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM242.06 533.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM501.88 83.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM566.83 121.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM566.83 196.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM501.88 233.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM501.88 308.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM436.92 346.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM371.97 308.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM631.78 308.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM696.74 346.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM696.74 421.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM631.78 458.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM566.83 421.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM566.83 346.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM696.74 -28.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM761.69 8.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM761.69 83.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM696.74 121.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM631.78 83.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM631.78 8.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1021.51 308.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1086.46 346.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1086.46 421.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1021.51 458.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM956.55 421.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM956.55 346.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1021.51 533.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM956.55 571.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM891.6 533.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM891.6 458.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.23 83.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1476.18 121.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1476.18 196.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.23 233.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1346.28 196.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1346.28 121.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.23 308.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1346.28 346.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1281.32 308.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1281.32 233.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1476.18 421.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1541.14 458.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1541.14 533.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1476.18 571.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.23 533.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.23 458.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M80.72 33.13L124.03 58.13L124.03 108.13L80.72 133.13L37.42 108.13L37.42 58.13zM37.42 108.13L80.72 133.13L80.72 183.13L37.42 208.13L-5.88 183.13L-5.88 133.13zM37.42 258.13L80.72 283.13L80.72 333.13L37.42 358.13L-5.88 333.13L-5.88 283.13zM80.72 333.13L124.03 358.13L124.03 408.13L80.72 433.13L37.42 408.13L37.42 358.13zM37.42 408.13L80.72 433.13L80.72 483.13L37.42 508.13L-5.88 483.13L-5.88 433.13zM80.72 483.13L124.03 508.13L124.03 558.13L80.72 583.13L37.42 558.13L37.42 508.13zM167.33 183.13L210.63 208.13L210.63 258.13L167.33 283.13L124.03 258.13L124.03 208.13zM167.33 483.13L210.63 508.13L210.63 558.13L167.33 583.13L124.03 558.13L124.03 508.13zM210.63 -41.87L253.93 -16.87L253.93 33.13L210.63 58.13L167.33 33.13L167.33 -16.87zM210.63 258.13L253.93 283.13L253.93 333.13L210.63 358.13L167.33 333.13L167.33 283.13zM253.93 333.13L297.24 358.13L297.24 408.13L253.93 433.13L210.63 408.13L210.63 358.13zM297.24 -41.87L340.54 -16.87L340.54 33.13L297.24 58.13L253.93 33.13L253.93 -16.87zM297.24 108.13L340.54 133.13L340.54 183.13L297.24 208.13L253.93 183.13L253.93 133.13zM340.54 333.13L383.84 358.13L383.84 408.13L340.54 433.13L297.24 408.13L297.24 358.13zM340.54 483.13L383.84 508.13L383.84 558.13L340.54 583.13L297.24 558.13L297.24 508.13zM383.84 -41.87L427.14 -16.87L427.14 33.13L383.84 58.13L340.54 33.13L340.54 -16.87zM383.84 108.13L427.14 133.13L427.14 183.13L383.84 208.13L340.54 183.13L340.54 133.13zM427.14 183.13L470.45 208.13L470.45 258.13L427.14 283.13L383.84 258.13L383.84 208.13zM513.75 33.13L557.05 58.13L557.05 108.13L513.75 133.13L470.45 108.13L470.45 58.13zM470.45 108.13L513.75 133.13L513.75 183.13L470.45 208.13L427.14 183.13L427.14 133.13zM513.75 183.13L557.05 208.13L557.05 258.13L513.75 283.13L470.45 258.13L470.45 208.13zM470.45 408.13L513.75 433.13L513.75 483.13L470.45 508.13L427.14 483.13L427.14 433.13zM600.35 33.13L643.65 58.13L643.65 108.13L600.35 133.13L557.05 108.13L557.05 58.13zM557.05 108.13L600.35 133.13L600.35 183.13L557.05 208.13L513.75 183.13L513.75 133.13zM600.35 183.13L643.65 208.13L643.65 258.13L600.35 283.13L557.05 258.13L557.05 208.13zM557.05 258.13L600.35 283.13L600.35 333.13L557.05 358.13L513.75 333.13L513.75 283.13zM600.35 333.13L643.65 358.13L643.65 408.13L600.35 433.13L557.05 408.13L557.05 358.13zM557.05 408.13L600.35 433.13L600.35 483.13L557.05 508.13L513.75 483.13L513.75 433.13zM643.65 258.13L686.96 283.13L686.96 333.13L643.65 358.13L600.35 333.13L600.35 283.13zM730.26 -41.87L773.56 -16.87L773.56 33.13L730.26 58.13L686.96 33.13L686.96 -16.87zM773.56 33.13L816.87 58.13L816.87 108.13L773.56 133.13L730.26 108.13L730.26 58.13zM773.56 333.13L816.87 358.13L816.87 408.13L773.56 433.13L730.26 408.13L730.26 358.13zM816.87 -41.87L860.17 -16.87L860.17 33.13L816.87 58.13L773.56 33.13L773.56 -16.87zM903.47 108.13L946.77 133.13L946.77 183.13L903.47 208.13L860.17 183.13L860.17 133.13zM946.77 183.13L990.08 208.13L990.08 258.13L946.77 283.13L903.47 258.13L903.47 208.13zM990.08 258.13L1033.38 283.13L1033.38 333.13L990.08 358.13L946.77 333.13L946.77 283.13zM1076.68 -41.87L1119.98 -16.87L1119.98 33.13L1076.68 58.13L1033.38 33.13L1033.38 -16.87zM1076.68 108.13L1119.98 133.13L1119.98 183.13L1076.68 208.13L1033.38 183.13L1033.38 133.13zM1076.68 408.13L1119.98 433.13L1119.98 483.13L1076.68 508.13L1033.38 483.13L1033.38 433.13zM1163.29 -41.87L1206.59 -16.87L1206.59 33.13L1163.29 58.13L1119.98 33.13L1119.98 -16.87zM1206.59 333.13L1249.89 358.13L1249.89 408.13L1206.59 433.13L1163.29 408.13L1163.29 358.13zM1163.29 408.13L1206.59 433.13L1206.59 483.13L1163.29 508.13L1119.98 483.13L1119.98 433.13zM1206.59 483.13L1249.89 508.13L1249.89 558.13L1206.59 583.13L1163.29 558.13L1163.29 508.13zM1293.19 33.13L1336.5 58.13L1336.5 108.13L1293.19 133.13L1249.89 108.13L1249.89 58.13zM1249.89 108.13L1293.19 133.13L1293.19 183.13L1249.89 208.13L1206.59 183.13L1206.59 133.13zM1249.89 408.13L1293.19 433.13L1293.19 483.13L1249.89 508.13L1206.59 483.13L1206.59 433.13zM1293.19 483.13L1336.5 508.13L1336.5 558.13L1293.19 583.13L1249.89 558.13L1249.89 508.13zM1379.8 183.13L1423.1 208.13L1423.1 258.13L1379.8 283.13L1336.5 258.13L1336.5 208.13zM1336.5 408.13L1379.8 433.13L1379.8 483.13L1336.5 508.13L1293.19 483.13L1293.19 433.13zM1466.4 33.13L1509.71 58.13L1509.71 108.13L1466.4 133.13L1423.1 108.13L1423.1 58.13zM1466.4 333.13L1509.71 358.13L1509.71 408.13L1466.4 433.13L1423.1 408.13L1423.1 358.13zM1466.4 483.13L1509.71 508.13L1509.71 558.13L1466.4 583.13L1423.1 558.13L1423.1 508.13z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1501'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1502'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(112%2c 154%2c 209%2c 0.49)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

}
ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
