<ion-header>
  <ion-toolbar>
    <ion-title>TEAMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <div class="container">
          <ion-button [routerLink]="['/team-new']"  routerLinkActive="router-link-active"  size="small" expand="block" fill="outline" shape="round">
            Nuevo Equipo
          </ion-button><br>
          <div class="container">
            <div class="forms-group">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar..."
                [(ngModel)]="filEq"
                name="filEq"
              />
            </div>
          </div><br>
        <table class="table table-striped" >
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">LOGO</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">ACCION</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let itemT of teams;let i = index" (click)="filtroJugadores(itemT.id, itemT['Nombre del equipo'])"><!-- {{itemT.Liga}}===idLFiltrar -->
              <th scope="row" >{{i + 1}}</th>
              <td><img src="{{itemT['Logo del Equipo']}}" height="100%" ></td>
              <td>{{itemT['Nombre del equipo']}}</td>
              <!-- <td>{{itemT.id}}</td>
              <td>{{itemT.Liga}}</td> -->
              <td><ion-button [routerLink]="['/team-edit']" routerLinkActive="router-link-active"  size="small" expand="block" fill="outline" shape="round">
                Editar
              </ion-button></td>
            </tr>
          </tbody>
        </table>
      </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
